/*
Importante resetear los estilos por defecto de el navegador
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Agrego el fallback para la tipografia */
@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat"),
    url("../assets/fonts/Montserrat/static/Montserrat-Regular.ttf")
      format("ttf"),
    url("../assets/fonts/Montserrat/static/Montserrat-Bold.ttf") format("ttf"),
    url("../assets/fonts/Montserrat/static/Montserrat-Italic.ttf") format("ttf");
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Orbitron";
  src:
    local("Orbitron"),
    url("../assets/fonts/Orbitron/static/Orbitron-Regular.ttf") format("ttf"),
    url("../assets/fonts/Orbitron/static/Orbitron-Bold.ttf") format("ttf");
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* 
El css nos sirve en principio para agregar los estilos globales para todo nuestro sitio, como 
- tipografia
- colores base
- medidas en pixeles y em, rem, etc. 
*/
body {
  font-family: "Orbitron", sans-serif;
  background: #f2f2f2;
}

/* Cambio la tipografia de los headings, recuerden que la tipografía la agregue en el HEAD de los archivos HTML  */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

em {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
}

.hero-section {
  background: url("../assets/img/inicio/background.png");
  background-size: contain;
  width: 100%;
  height: 600px;
}
