# Esto configura las cosas basicas de vscode y otros editores
# mirar la documentacion en: https://editorconfig.org/
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
